// margin left right top bottom position relative absolute fixed display inline block width height vertical-align letter-spacing padding
// line-height text-align background image no-repeat color url position fixed border radius solid cursor pointer
// transition animation family Microsoft Yahei white-space nowrap float hidden overflow scroll linear
// keyframes transform scale rotate translate font family font size
warnColor = #a94442
lineHeight = 1.428
defaultPading = 6px 8px;
smPading = 3px 5px;
lineDefaultPading = 6px 6px
.BhyTextFile
    position relative
    display table
    *
        margin 0
        padding 0
        box-sizing border-box
    input
        outline 0
    &.line // theme line
        position static
        .BhyTextFile
            &-input
                input
                    box-shadow none
                    border none
                    padding-left 8px
                    padding-bottom 6px
                    &:focus
                        box-shadow none
                        outline 0
                        border none

            &-boxLine // 底部直线，无边框的input
                position absolute
                width 100%
                .before
                .after
                    width 100%
                    content ''
                    position absolute
                    bottom 0
                .before
                    content ''
                    height 1px
                    background #dcdcdc
                .after
                    height 2px
                    background #69d8ff
                    transition all 0.3s
                    margin auto
                    width 0
                    position relative
                    bottom -1px
                &.focus
                    .after
                        width 100%

    &.border // theme border 带有边框的
        position static
        .BhyTextFile
            &-input
                input
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                    &:focus
                        box-shadow inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
                        outline 0
                        border-color: #66afe9
    &.sm // 小尺寸input
        position static
        .BhyTextFile
            &-input
                input
                    padding 3px 8px
                    height auto
    &.sm.border // theme border 小尺寸
        .BhyTextFile
            &-input
                .boxIcon // 图标
                i
                    font-size 15px
    &.sm.line // theme line 小尺寸
        .BhyTextFile
            &-input
                .boxIcon // 图标
                i
                    font-size 16px
    &.layouty // 垂直布局
        .BhyTextFile
            &-label
                display block
                text-align left
                margin-bottom 2px
            &-input
                display block
                .boxIcon // 图标
                    width 20px
                    height 20px
                    position absolute
                    top 50%
                    margin-top -10px

                    text-align center
                    i
                        color #a2a2a2
                        font-size 17px
    &.layouty.line
        .BhyTextFile
            &-label
                margin-bottom 0
            &-input
                display block
                input
                    padding-left 25px!important
                .boxIcon // 图标
                    left 0

    &.warn // 警告
        position static
        .BhyTextFile
            &-label
                &-name
                &-mao
                    color warnColor

    &.warn.border // theme border 警告样式
        .BhyTextFile
            &-input
                input
                    box-shadow inset 0 1px 1px rgba(0, 0, 0, .075)
                    border-color warnColor
                    &:focus
                        border-color #843534
                        box-shadow inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483
    &.warn.line // theme line 警告样式
        .BhyTextFile
            &-boxLine // 底部直线，无边框的input
                .before
                .after
                    background warnColor
    &.full // 满宽度
        width 100%
        .BhyTextFile
            &-input
                width 100%
    &.focus
        position static
    &-label // 侧边label
        display table-cell
        vertical-align middle
        text-align right
        > *
            display inline-block
            font-size 14px
            color #575757
            position relative
            top -1px
        &-mao
            margin 0 5px
    &-input // input的基本样式
        vertical-align middle
        position relative
        &.hasIcon
            position relative
            .boxIcon // 图标
                width 20px
                height 20px
                position absolute
                top 50%
                margin-top -10px
                left 8px
                text-align center
                i
                    color #a2a2a2
                    font-size 17px
            input
                padding-left 34px!important
        input
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 8px;
            font-size: 14px;
            line-height: lineHeight;
            color: #555;
            background-color: #fff;
            background-image: none;
            &::placeholder
                color #b6b6b6
    &-errorText // 错误文本的
        font-size 12px
        color warnColor
        position absolute
        margin-top 3px