/*region name */
/*margin left right top bottom position relative absolute fixed display inline block width height vertical-align letter-spacing padding
line-height text-align background image no-repeat color url position fixed border radius solid cursor pointer
transition animation family Microsoft Yahei white-space nowrap float hidden overflow scroll linear keyframes transform scale rotate translate font family font size*/
/*endregion*/

warnColor = #a94442
.BhyTextFile
    position relative
    display table
    *
        margin 0
        padding 0
        box-sizing border-box
    input
        outline 0
    &-border
        position static
    &-warn
        position static
        .BhyTextFile
            &-label
                &-name
                &-mao
                    color warnColor
            &-input
                input
                    box-shadow inset 0 1px 1px rgba(0,0,0,.075)
                    border-color warnColor
                    &:focus
                        border-color #843534
                        box-shadow inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483
    &-full
        width 100%
        .BhyTextFile
            &-input
                width 100%

    &-focus
        position static
    &-label
        display table-cell
        vertical-align middle
        text-align right
        >*
            display inline-block
        &-name
            position static
        &-mao
            position static
            margin 0 5px

    &-input
        vertical-align middle
        position relative
        input
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            &:focus
                box-shadow inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6)
                outline 0
                border-color: #66afe9
    &-errorText
        font-size 12px
        color warnColor
        position absolute
        margin-top 2px